body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    background-color: #ebeef6;
    padding: 80px;
    box-sizing: border-box;
}
.main {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left {
    margin: 0 auto;
    width: 50%;
}
.right {
    margin: 0 auto;
    width: 50%;
}
.container {
    padding: 60px 100px;
    width: 500px;
}
.text {
    color: grey;
    font-size: 20px;
}
a {
    text-decoration: none;
}
.top-text {
    margin-bottom: 150px;
}
h1 {
   font-size: 40px;
}
.left p {
    line-height: 15px;
}
input {
    width: 450px;
    /* max-width: 400px; */
    height: 50px;
    padding: 0 20px;
    position: relative;
    border-radius: 5px;

}
input[type=email] {
    background-image: url(./assets/at-sign.svg);
    background-repeat: no-repeat;
    background-position: bottom 50% right 10px;
}
input[type=password] {
    background-image: url(./assets/lock.svg);
    background-repeat: no-repeat;
    background-position: bottom 50% right 10px;
}
input:focus {
    border: none;
}
.form-container {
    position: relative;
    margin: 0 auto;
}
label {
    color: gray;
    background-color: #fff;
    padding: 0;
    position: absolute;
    left: 40px;
    bottom: 40px;
    padding: 5px;
    z-index: 1;
}
button {
    background-color: #2028eb;
    border: none;
    color: #fff;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 50px;
}
button:hover {
    background-color: #474ce8 ;
    cursor: pointer;
}
.login-container {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding-top: 60px;
}
.tp-login{
    background-color: #fff;
    text-align: center;
    position: relative;
    top: -14px;
    left: 180px;
    display: inline-block;
}
.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}
.logo {
    width: 100px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.logo img {
position: relative;
top: 10px;
left: 26px;
}
.right {
    background-color: #2028eb ;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
    color: #fff;
}
.right-container {
    position: relative;
}
.background-img {
    position: absolute;
    top: 150px;
    left: 250px;
    opacity: 0.2;
}
.qm {
    width: 100px;
    background-color: cyan;
    border-radius: 100px;
    margin-top: 200px;
}
.typography {
    font-size: 64px;
    font-weight: 800;
    width: 600px;
    padding: 90px 16px;
}
.typ-paragraph {
    position: relative;
    left: 60px;
    font-weight: 100;
    font-size: 24px;
    width: 450px;
    justify-content: left;
}
.profile {
    display: flex;
    position: relative;
    align-items: center;
    left: 60px;
    top: 30px;
    font-weight: 100;
    font-size: 18px;
}
.profile img {
    width: 60px;
    border-radius: 60px;
    margin-right: 16px;
}
.line {
    border-left: 1px solid #ccc;
    position: absolute;
    height: 570px;
    top: 320px;
    left: 120px;
}