*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    height: 900px;
    background-color: rgb(246, 239, 233);
    margin: 0;
    position: relative;
}
h3 {
    margin: 10px 0;
}
.background-top {
    background-color: rgb(33, 83, 206);
    width: 100%;
    height: 600px;
    z-index: -1;
}
.box {
    background-color: rgb(246, 239, 233);
    width: 80%;
    height: 80%;
    position: absolute;
    border: 8px solid #000;
    border-radius: 24px;
    top: 10%;
    left: 10%;
}
.close-mark {
    color: rgb(122, 122, 122);
    text-align: right;
    margin: 40px 40px 0 0;
    font-size: 24px;
}
.top-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
}
.top-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.info-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
    overflow: hidden;
}
.payment-box {
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
}
.summary-box {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 16px;
}
hr {
    border: 1px solid rgb(246, 239, 233);
    width: 120%;
    position: relative;
    left: -30px;
}
.card-top {
    display: flex;
    justify-content: space-between;
}
.card-logos img {
    margin-left: 8px;
}
